{% extends "base.html" %}}

{% block title %}
  <title>{{ dish.name }} --- ID: {{ dish.id }}</title>
{% endblock %}

{% block content %}
  <h1>
    {{ dish.name }}
    <a href="{% url 'kitchen:dish-delete' pk=dish.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'kitchen:dish-update' pk=dish.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <p>
    Type: {{ dish.dish_type }}. Price: {{ dish.price }}.
  </p>
  <hr>
  <h2>Recipe and description:</h2>
  <p>
    {{ dish.description }}
  </p>
  <hr>

  <h2>
    Responsible Cooks:

    {% if dish in user.dishes.all %}
      <a href="{% url 'kitchen:toggle-cook-assign' pk=dish.id %}" class="btn btn-danger link-to-page">
        Delete me from this dish
      </a>
    {% else %}
      <a href="{% url 'kitchen:toggle-cook-assign' pk=dish.id %}" class="btn btn-success link-to-page">
        Assign me to this dish
      </a>
    {% endif %}
  </h2>
  <hr>

  {% for cook in dish.cooks.all %}
    <a href="{% url 'kitchen:cook-detail' pk=cook.id %}">
      <p>{{ cook }}</p>
    </a>

  {% empty %}
    <p>This dish has no assigned Cooks.</p>
  {% endfor %}

{% endblock %}
