<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
      name="viewport"
      content="width=device-width,
      user-scalable=no,
      initial-scale=1.0,
      maximum-scale=1.0,
      minimum-scale=1.0"
  >
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  {% block title %}
    <title>Kitchen management system</title>
  {% endblock %}
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        {% block sidebar %}
          {% include "includes/sidebar.html" %}
        {% endblock %}
      </div>
      <div class="col-sm-9">
        {% block content %}{% endblock %}
        <div class="d-flex justify-content-center">
          {% block pagination %}
            {% include "includes/pagination.html" %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</body>
</html>

</html>
